@import 'variables'

\:local(.attachment-header)
  font-size: 14px
  font-family: $san-francisco-text-family
  padding-top: 6px

  .attachment-message
    display: inline-block
    margin-top: 6px

    .attachment-title
      color: $soft-black-color

      @media print
        font-size: 10px
        font-weight: bold

    .attachment-subtitle
      color: $clay-gray
      margin-left: 8px

  .attachment-request-button
    display: inline-block
    float: right
