@import 'variables'

%pin-action-hint
  position: absolute
  pointer-events: none
  right: 16px
  top: 9px

\:local(.wrapper)
  border-radius: 2px
  border: solid 1px $white-two-color
  width: 26px
  height: 26px
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  background-image: url('/img/ic-plus-bold.svg')
  background-size: 12px 12px
  background-color: $snow-color
  box-sizing: border-box

  &:hover, &.is-pinned
    background-color: $pudding-matcha
    border: 1px solid $pudding-matcha
    background-image: url('/img/ic-plus-green.svg')

  &.is-pinned
    &::after
      @extend %pin-action-hint
      content: url('/img/ic-pin.svg')
      height: 16px
      width: 12px
    
    &:hover
      background-color: $snow-color
      background-image: url('/img/ic-minus.svg')
    
      &::after
        @extend %pin-action-hint
        content: 'Unpin?'
        color: $boulder-color
        font-size: 12px
        font-weight: 400
        line-height: 1.17
        width: auto
