@import 'variables'

%pinned-style
  background-color: $pudding-matcha !important
  border: 1px solid $pudding-matcha !important
  background-image: url('/img/ic-plus_green.svg') !important

\:local(.wrapper)
  width: 36px
  height: 26px
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  background-image: url('/img/ic-plus_light.svg')
  background-size: 12px 12px
  background-color: $snow-color
  box-sizing: border-box
  display: inline-block
  position: absolute
  top: 3px
  right: 16px

  &:hover, &.is-pinned
    @extend %pinned-style
