@import 'variables'

%overflow-text

\:local(.gray-text)
  width: calc(100% - 52px)
  color: $clay-gray
  font-size: 12px
  font-weight: 300
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

  .complaints-text
    color: $clay-gray
    font-size: 12px
    font-weight: 300

    &.non-zero-count.active
      color: $accent-color

  .sustained-text
    color: $clay-gray
    font-size: 12px
    font-weight: 300

    &.non-zero-count.active
        color: $bright-orange-two-color

\:local(.inner-wrapper):hover
  .complaints-text.non-zero-count
    color: $accent-color

  .sustained-text.non-zero-count
    color: $bright-orange-two-color
