@import 'variables'

\:local(.animatedSocialGraph)
  .graph-control-panel
    padding: 8px 20px

    .date-labels
      font-size: 12px
      color: $boulder-color
      margin-bottom: 3px

      .start-date-label
        float: left

      .end-date-label
        float: right

    .graph-actions
      padding: 10px 0

      .toggle-timeline-btn
        float: left
        width: 24px
        height: 24px
        border: 1px solid $white-two-color
        border-radius: 12px
        outline: none

        .play-icon
          box-sizing: border-box
          width: 9px
          height: 12px
          border-top: 6px solid transparent
          border-left: 9px solid $accent-color
          border-bottom: 6px solid transparent

        .pause-icon
          box-sizing: border-box
          width: 9px
          height: 8px
          border-right: 3px solid $accent-color
          border-left: 3px solid $accent-color

      .current-date-label
        float: left
        font-size: 14px
        line-height: 24px
        color: $soft-black-color
        margin-left: 6px

      .graph-search-form
        float: right
        position: relative

        .graph-search-input-container
          display: inline-block
          position: relative

        .graph-search-input
          font-size: 14px
          font-weight: 300
          color: $boulder-color
          padding: 3px 20px 3px 6px

        .graph-search-btn
          position: absolute
          top: 0
          right: 0
          margin: 6px
          box-sizing: border-box
          background: url('/img/magnifying-glass.svg') no-repeat center
          background-size: 14px 14px
          width: 14px
          height: 14px
          border: none
          outline: none
