@import 'variables'

\:local(.animatedSocialGraph)
  position: relative

  .graph-control-panel
    padding: 8px 20px
    box-sizing: border-box

    .date-labels
      font-size: 12px
      color: $boulder-color
      margin-bottom: 3px

      .start-date-label
        float: left

      .end-date-label
        float: right

    .graph-actions
      padding: 10px 0

      .toggle-timeline-btn
        float: left
        box-sizing: border-box
        width: 24px
        height: 24px
        padding: 7px 0
        border: 1px solid $white-two-color
        border-radius: 12px
        outline: none
        background-size: 7px 8px
        background: no-repeat center

        &:hover
          background-color: $white-two-color

        &.pause-icon
          background-image: url('/img/ic-pause.svg')

          &:hover
            background-image: url('/img/ic-pause-hover.svg')

        &.play-icon
          background-image: url('/img/ic-play.svg')

          &:hover
            background-image: url('/img/ic-play-hover.svg')

      .current-date-label
        float: left
        font-size: 14px
        line-height: 24px
        color: $soft-black-color
        margin-left: 6px

      .custom-right-control-buttons-container
        float: right

        .expanded-mode-btn
          display: inline-block
          box-sizing: border-box
          width: 24px
          height: 24px
          margin: 0 -4px 0 16px
          padding: 4px
          border: none
          outline: none
          background-size: 16px
          background: url('/img/ic-expand.svg') no-repeat center

          &:hover
            background-image: url('/img/ic-expand-hover.svg')

\:local(.social-graph-loading)
  width: 160px
  height: 160px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
