@import 'variables'

\:local(.socialGraph)
  width: 100%
  height: calc(100vh - 93px)
  position: relative

  circle.node
    stroke: transparent
    stroke-width: 10px

    &.edge-hover
      stroke: $silver-chalice-color
      stroke-width: 2px

  text.node-label
    font-size: 13px
    font-weight: 300
    color: $mine-shaft-color

  text.selected-node-label, text.selected-edge-label
    color: $thunder-color
    font-size: 13px
    line-height: 15px

  rect.selected-node-label-box, rect.selected-edge-label-box
    fill: $gin-fizz-color
    stroke: $alto-color
    stroke-width: 1px

  line.link
    stroke: $wild-sand-color
    stroke-width: 1px

    &.edge-hover
      stroke-width: 2px

    &.link-group-color-1
      stroke: $wild-sand-color

    &.link-group-color-2
      stroke: $alto-color

    &.link-group-color-3
      stroke: $silver-chalice-color

    &.link-group-color-4
      stroke: $gray-color

    &.link-group-color-5
      stroke: $boulder-color

    &.link-group-color-6
      stroke: $guardsman-red-color

    &.current-link
      stroke: $azure-radiance-color
      stroke-width: 2px

\:local(.socialGraphTip)
  padding: 2px 4px
  background-color: $wild-sand-color
  color: $thunder-color
  border-radius: 2px
  font-size: 13px
  line-height: 15px
  border: 1px solid $alto-color

.pinboard-page
  \:local(.socialGraph)
    height: 342px
    width: 342px


\:local(.social-graph-loading)
  width: 160px
  height: 160px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
