@import 'variables'

circle.node
  stroke: #fff
  stroke-width: 1.5px

line.link
  stroke: #999
  stroke-opacity: .6

\:local(.socialGraph)
  width: 100%
  height: calc(100vh - 93px)
  position: relative

  .loading-img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

\:local(.socialGraphTip)
  padding: 4px 6px
  background-color: $darker-grey-color
  border-radius: 6px
  color: white
  font-size: 14px
  font-weight: 300

.pinboard-social-graph
  \:local(.socialGraph)
    height: 360px
