@import 'variables'


\:local(.manage-pinboards-buttons)
  display: inline-block

  .new-pinboard-btn, .pinboards-list-btn
    width: 48px
    height: 32px
    display: inline-block
    border: 1px solid $white-two-color
    box-sizing: border-box
    margin-left: 8px

  .pinboards-list-btn
    background: url('/img/ic-list.svg') no-repeat center

  .new-pinboard-btn
    background: url('/img/ic-plus.svg') no-repeat center
