@import 'variables'

\:local(.pinboardInfo)
  margin: 0 16px

  .pinboard-title, .pinboard-description
    display: block
    color: $thunder-color
    border: none
    outline: none
    width: 50%
    padding: 0

  .pinboard-title
    resize: none
    font-size: 26px
    line-height: 31px
    margin: 48px 0 25px 0

  .pinboard-description
    resize: none
    font-size: 14px
    margin-bottom: 16px
    height: auto
    min-height: 64px
    line-height: 16px
    overflow: auto
    word-wrap: break-word
    white-space: pre-line

    p
      margin: 0

  .pinboard-description-placeholder
    &::after
      position: absolute
      top: 0
      font-size: 14px
      font-weight: 300
      color: $boulder-color
      content: attr(data-placeholder)
      z-index: -1
