@import 'variables'

\:local(.pinboardPage)
  .pinboard-info
    margin: 0 14px

    .pinboard-title
      font-size: 26px
      color: $soft-black-color
      margin: 48px 0 17px 0

    .pinboard-description
      font-size: 14px
      color: $soft-black-color
      font-weight: 300
      margin-bottom: 48px
      width: 50%

  .data-visualizations
    margin: 0 14px
    border-radius: 2px
    border: solid 1px $white-two-color

  .relevant-title
    padding: 48px 16px 17px 16px
    color: white
    font-size: 26px
    background-color: $soft-black-color

  .footer
    background-color: $soft-black-color

    .nav-links-wrapper
      background-color: $soft-black-color
