@import 'variables'

\:local(.pinboard-data-visualization)
  margin: 0 14px

  .visualization-item
    width: 342px
    height: 342px
    display: inline-block
    border: 1px solid $alto-dark-color
    margin-right: 8px
    position: relative

    .expanded-mode-btn
      position: absolute
      color: $boulder-color
      font-weight: 300
      bottom: 8px
      right: 8px
      box-sizing: border-box
      height: 44px
      line-height: 16px
      padding: 14px 39px 14px 16px
      outline: none
      background-size: 16px
      z-index: 9
      background: $wild-sand-80-color url('/img/ic-expand.svg') no-repeat center right 16px
      border: 1px solid $alto-color

      &:hover
        background-image: url('/img/ic-expand-hover.svg')
