@import 'variables'

\:local(.pinboard-data-visualization)
  margin: 0 16px

  .carousel-arrow
    background-color: $blue-ribbon-50-color
    background-image: url('/img/disclosure-indicator-blue.svg')
