@import 'variables'

.body-fixed-viewport
  width: calc(100vw - 17px)

.body-scrollable
  overflow-y: scroll
  height: 100%

.body-not-scrollable
  overflow: hidden
  height: 100vh

\:local(.pinboardPage)
  .overlay[aria-hidden="true"]
    opacity: 0
    transition: opacity 0.25s, z-index 0s 0.25s
    z-index: -1

  .overlay[aria-hidden="false"]
    display: block
    opacity: 0.8
    transition: opacity 0.8s
    z-index: 1000

  .preview-pane
    background-color: $sugar-cane-color
    overflow-x: hidden
    position: fixed
    top: 0
    right: 0
    z-index: 1001

  &.empty
    background-color: $sugar-cane-color

  .pinned-section
    margin: 16px 14px 0 14px
    overflow: hidden auto

  .footer
    background-color: $soft-black-color

    .nav-links-wrapper
      background-color: $soft-black-color

\:local(.pinboard-page-toast)
  background-color: $sprout
  border-radius: 2px
  color: $japanese-laurel
  font-size: 14px
  padding: 12px 8px
  min-height: 40px
  text-align: left
  width: 340px
  box-shadow: 0 1px 2px 0 $light-black-color

\:local(.pinboard-loading)
  margin: 0 auto
  display: block
  width: 176px
  height: 518px
