@import 'variables'

\:local(.wrapper)
  width: 100%
  margin-top: 31px

  .type-title
    font-size: 14px
    color: $soft-black-color

  .type-cards
    display: flex
    flex-wrap: wrap
    margin-top: 9px
