@import 'variables'

\:local(.wrapper)
  width: 100%
  margin-top: 39px

  .type-title
    font-size: 14px
    color: $soft-black-color

  .type-cards
    margin-top: 9px
    position: relative

  .pinned-grid-item
    display: block
    position: absolute
    z-index: 1

    &.muuri-item-dragging
      z-index: 3

    &.muuri-item-releasing
      z-index: 2

    &.muuri-item-hidden
      z-index: 0

  .item-content
    position: relative
