\:local(.wrapper)
  .document-count-wrapper
    display: block

  .documents-count
    font-size: 12px

  .link-icon
    background-image: url('/img/link_icon_2x.png')
    width: 10px
    height: 10px
    display: inline-block
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    margin-right: 4px
    vertical-align: middle



