\:local(.wrapper)
  position: absolute
  top: 0
  right: 0
  padding: 8px
  cursor: pointer

  &:hover
    .inner-remove-symbol
      background-image: url('/img/ic-clear-hover.svg')

  .inner-remove-symbol
    width: 14px
    height: 14px
    background-image: url('/img/ic-clear.svg')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

