@import 'variables'
@import './with-undo-card'


\:local(.officer-card)
  @extend %card
  border-color: $alto-color
  color: $thunder-color
  margin: 0 8px 8px 0

  .radar-chart-wrapper
    height: 60px

  .officer-info
    height: 72px
    background-color: $wild-sand-color
    box-sizing: border-box
    padding: 8px 8px 10px 8px

    .officer-rank
      font-size: 12px
      color: $boulder-color
      overflow: hidden
      white-space: nowrap

    .officer-name
      overflow-wrap: break-word
      overflow: hidden
      line-height: 16px
      max-height: 32px
      margin-top: 4px

  .officer-complaints-count
    height: 42px
    line-height: 42px
    box-sizing: border-box
    padding-left: 8px
    background-color: white
