@import 'variables'

\:local(.removable)
  &.hide
    opacity: 0

  &.fade-out
    transition: opacity $pinboard-fade-animation-duration ease-in-out
    opacity: 0

  &.fade-in
    transition: opacity $pinboard-fade-animation-duration ease-in-out
    opacity: 1
