@import 'variables'
@import 'animations'

%card
  box-sizing: border-box
  border: 1px solid
  border-radius: 2px
  font-size: 14px
  font-weight: 300
  height: 176px
  position: relative
  width: 148px
  margin: 0 8px 8px 0

%undo-card-text
  display: block
  margin: 40px 8px 32px 8px
  padding: 0 20px
  min-height: 48px
  text-align: center

%undo-card-button
  border-radius: 2px
  font-family: $san-francisco-text-family
  font-size: 14px
  font-weight: 300
  margin: 0 28px 16px 28px
  outline: none
  padding: 0
  text-align: center
  width: calc(100% - 56px)
  height: 40px

\:local(.undo-card-light)
  @extend %card
  background-color: $wild-sand-color
  border-color: $alto-color
  animation: fadeOut 2s ease-in-out 2s forwards
  
  .text
    @extend %undo-card-text
    color: $mine-shaft-color

  .undo-button
    @extend %undo-card-button
    background-color: transparent
    border: solid 1px $alto-dark-color
    color: $thunder-color

    &:hover
      background-color: white
      color: $vida-loca-color


\:local(.undo-card-dark)
  @extend %card
  animation: fadeOut 2s ease-in-out 2s forwards
  background-color: $thunder-color
  border-color: $mine-shaft-color
  
  .text
    @extend %undo-card-text
    color: $alto-color

  .undo-button
    @extend %undo-card-button
    background-color: $mine-shaft-color
    border: none
    color: $alto-color

    &:hover
      background-color: $boulder-color
      color: white

\:local(.wrapper)
  width: 306px
