@import 'variables'

\:local(.print-notes)
  display: none
  font-size: 10px
  font-weight: 500
  page-break-inside: avoid

  .notes-title
    padding-top: 16px

  .notes-column
    width: 50%
    display: inline-block
    vertical-align: top
    box-sizing: border-box

    &:first-child
      padding-right: 8px

    & + .notes-column
      padding-left: 8px

    .notes-content
      padding-top: 11px

  @media print
    display: block

.complaint-info
  \:local(.print-notes)
      border-top: 1px solid $soft-black-color
