@import 'variables'

\:local(.attachment-item)
  width: 104px
  margin: 20px 16px 0 0
  padding-bottom: 8px
  text-decoration: none
  display: inline-block
  vertical-align: top

  @media print
    width: auto
    margin: 0
    display: block
    padding-bottom: 0
    border-bottom: 1px solid $white-two-color

    &:last-child
      border: none

  .attachment-card-thumbnail
    width: 45px
    height: 60px
    border: 1px solid $white-two-color
    margin: 0 auto 8px
    background: $sugar-cane-color no-repeat center center

    &.document
      background-size: cover

  .attachment-card-title
    color: $clay-gray
    text-align: center
    font-size: 14px
    font-weight: 400

    @media print
      font-size: 12px
      font-weight: 500
      padding: 11px 0 11px 0
      text-align: left

  &:hover
    .attachment-card-thumbnail
      border: 1px solid $accent-color

    .attachment-card-title
      color: $accent-color
