@import 'variables'

\:local(.trr-location)
  height: 394px
  background-color: white
  font-size: 14px

  .trr-location-info
    min-width: calc(40% - 32px)
    display: inline-block
    width: calc(100% - 704px)
    margin: 16px

    .info-block
      padding: 16px 0

      .info-block-title
        color: $soft-black-color
        font-weight: 500
        font-size: 14px
        height: 32px
        line-height: 32px
        margin: 0

      .info-block-date
        color: $clay-gray
        height: 40px
        line-height: 40px

  .trr-location-map
    display: inline-block
    max-width: 672px
    width: 60%
    height: 394px
    background-color: $silver-chalice
    float: right
