@import 'variables'

\:local(.trr-location)
  height: 394px
  background-color: white
  font-size: 14px

  @media print
    height: fit-content

  .trr-location-info
    min-width: calc(40% - 32px)
    display: inline-block
    width: calc(100% - 704px)
    margin: 16px

  .info-block
    padding: 16px 0

    @media print
      padding: 0
      page-break-inside: avoid

    .info-block-title
      color: $soft-black-color
      font-weight: 500
      font-size: 14px
      height: 32px
      line-height: 32px
      margin: 0

    .info-block-date
      color: $clay-gray
      height: 40px
      line-height: 40px

  .trr-location-map
    display: inline-block
    max-width: 672px
    width: 60%
    height: 394px
    background-color: $silver-chalice
    float: right

    @media print
      display: block
      width: 100%
      max-width: 100%
      float: none

  .location-title-print
    font-size: 10px
    font-weight: 500
    padding: 13px 0 11px 0
    margin: 0
