@import 'variables'

\:local(.trr-map)
  width: 100%
  height: 394px

\:local(.trr-print-map)
  width: 100%
  display: block

\:local(.trr-map-marker)
  background-color: $clay-gray
  width: 16px
  height: 16px
  border-radius: 50%
  box-shadow: 0 0 0 4px $clay-gray-40
