@import 'variables'

\:local(.search-section)
  position: relative
  top: 50%
  transform: translateY(-50%)
  float: right
  z-index: 1 // make sure its clickable area doesn't get covered up by CPDP logo

  .search-section-term
    cursor: pointer

  .search-section-magnifying-glass
    float: left
    position: relative
    top: 50%
    transform: translateY(-50%)
