@import 'variables'

\:local(.pinboards)
  z-index: $preview-pane-z-index
  position: fixed
  top: 0
  right: 0
  width: 320px
  height: 100vh
  overflow: auto
  background-color: $wild-sand-color

  .pinboards-title
    background-color: white
    padding: 48px 8px 17px 8px
    line-height: 31px
    font-size: 26px

    .new-pinboard-btn
      width: 48px
      height: 32px
      display: inline-block
      border: 1px solid $alto-color
      box-sizing: border-box
      background: url('/img/ic-plus.svg') no-repeat center
      float: right

  .pinboard-item
    display: block
    height: 64px
    box-sizing: border-box
    background-color: white
    padding: 16px 16px 16px 12px
    cursor: pointer

    .pinboard-info
      width: calc(100% - 23px)
      padding-right: 16px
      box-sizing: border-box
      display: inline-block
      vertical-align: top

      .pinboard-title
        color: $blue-ribbon-color
        font-size: 14px
        font-weight: 300
        line-height: 16px
        margin-bottom: 2px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

      .pinboard-viewed-at
        color: $boulder-color
        font-size: 12px
        font-weight: 300
        line-height: 14px

    .duplicate-pinboard-btn
      display: inline-block
      width: 32px
      height: 32px
      margin-right: -9px
      background: url('/img/ic-copy.svg') no-repeat center

    &:hover
      background-color: $gin-fizz-color

      .pinboard-title
        color: $thunder-color

      &.untitled-pinboard
        .pinboard-created-at
          color: $thunder-color
