@import 'variables'

\:local(.pinboard-pane)
  padding: 0 8px

  .new-call-to-action-widget-container
    background-color: inherit

  .static-social-graph
    background: white
    border: 1px solid $alto-dark-color
    margin-top: 8px
    box-sizing: border-box
    width: 289px
    height: 289px
    position: relative

  .social-graph
    width: 100%
    height: 100%
