@import 'variables'

\:local(.trr-pane)
  .trr-preview-pane-info-wrapper
    padding: 0 8px
    background-color: white

    .trr-preview-pane-title
      padding: 20px 0 22px 0
      margin: 0 16px

      .trr-preview-pane-title-title
        padding: 3px 0
        font-size: 26px
        font-weight: 500

    .trr-preview-pane-info-row
      padding: 12px 0
      margin: 0 16px
      font-size: 14px
      font-weight: 500
      border-top: 1px solid $alto-color

  .trr-preview-pane-accused
    border: solid 1px $alto-dark-color
    border-radius: 2px
    margin: 11px 8px 0 8px
    background-color: white

    .list-widget-header
      font-weight: 400
