@import 'variables'

\:local(.complaint-category)
  margin: 0 16px
  padding: 16px 0
  border-bottom: solid 1px $white-two-color

  @media print
    padding: 0 0 11px 0
    border-bottom: solid 1px $purple-brown

  .cr-category
    font-size: 26px
    font-weight: 400
    color: $soft-black-color

    @media print
      font-size: 26px
      font-weight: 500

  .cr-subcategory
    font-size: 18px
    line-heigh: 25px
    font-weight: 300
    color: $medium-gray-color

    @media print
      font-size: 12px
      font-weight: 500
