@import 'variables'

\:local(.complaint-summary-card)
  display: block
  border-radius: 2px
  box-sizing: border-box
  border: solid 1px $white-two-color
  font-weight: 300

  &:hover
    border: solid 1px $accent-color

  .complaint-summary-card-title
    height: 70px
    padding: 11px 12px
    box-sizing: border-box

    .complaint-summary-card-title-date
      line-height: 14px
      font-size: 12px
      text-align: left
      color: $clay-gray

      &:hover
        color: $accent-color

    .complaint-summary-card-title-category
      font-size: 14px
      text-align: left
      margin-top: 2px
      color: $soft-black-color
      height: 33px
      overflow: hidden

      &:hover
        color: $accent-color

  .complaint-summary-card-summary
    box-sizing: border-box
    padding: 11px 12px
    border-top: solid 1px $white-two-color
    font-size: 14px
    color: $clay-gray
    font-weight: 200
    position: relative
    height: 196px
    overflow: hidden

    &:hover
      border-top: solid 1px $accent-color
      color: $accent-color

    .complaint-summary-card-summary-gradient
      height: 44px
      position: absolute
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(to bottom, $black0-color, white)
