@import 'variables'

$button-height: 28px
$border-width: 1px
$margin-top: calc((#{$shareable-header-height} - #{$button-height} - #{$border-width} * 2) / 2)

\:local(.link-header-button)
  position: relative

  .button
    float: right
    cursor: pointer
    line-height: $button-height
    border-radius: 2px
    padding: 0 8px
    border: solid $border-width $alto-color
    margin: $margin-top 0 0 8px
    color: $blue-ribbon-color
    background-color: $hawkes-blue-color

    &:hover
        color: white
        background-color: $blue-ribbon-color
