@import 'variables'


\:local(.link-header-button)
  position: relative

  .button
    float: right
    cursor: pointer
    line-height: 28px
    border-radius: 2px
    padding: 0 8px
    border: solid 1px $alto-color
    margin-left: 8px
    color: $blue-ribbon-color
    background-color: $hawkes-blue-color

    &:hover
        color: white
        background-color: $blue-ribbon-color
