@import 'variables'

\:local(.shareable-header)
  .shareable-header-header-placeholder
    height: $shareable-header-height
    position: relative

  .shareable-header-outer
    background-color: $wild-sand-color
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 3
    box-shadow: 0 1px 1px 0 $alto-light-color

    .shareable-header-nav-bar
      height: $shareable-header-height
      line-height: 22px
      color: $boulder-color
      padding: 0 16px
      font-size: 14px
      font-weight: 400
