@import 'variables'

\:local(.allegation-row)
  padding: 0 12px

  .allegation-info
    padding: 12px 0 10px 0
    border-bottom: 1px solid $white-two-color

  .allegation-crid
    font-size: 14px
    line-height: 16px
    color: $blue-ribbon
    float: left
    margin-bottom: 2px


  .allegation-incident-date
    font-size: 14px
    line-height: 16px
    color: $blue-ribbon
    float: right

  .allegation-category, .allegation-subcategory
    font-size: 12px
    line-height: 14px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
