@import 'variables'

$social-graph-pane-section-menu-height: 64px

\:local(.timeline-section)
  height: calc(100vh - #{$social-graph-pane-section-menu-height})
  overflow-y: auto
  background-color: white
