\:local(.map)
  width: 100%
  position: relative
  height: 625px

  .map-tab
    width: calc(100% - 32px)
    height: 100%
    margin: 0 auto

  &.pinboard-map
    height: 453px

    .map-tab
      width: 100%
