\:local(.map)
  width: 100%
  position: relative
  height: 625px

  .map-tab
    width: 100%
    height: 100%
    margin: 0 auto

  &.officer-allegations-map
    .map-tab
      width: calc(100% - 32px)

  &.pinboard-map
    height: 453px

  &.social-graph-map
    height: 100vh


\:local(.allegation-map-loading)
  margin: 0 auto
  display: block
  width: 176px
  height: 454px
