@import 'variables'

$item-width: 232px

\:local(.complaint-card)
  box-sizing: border-box
  border: 1px solid $gray-color
  background-color: $tundora-color
  display: block
  width: $item-width
  height: 298px
  margin-right: 8px

  &:hover
    border: 1px solid $blue-ribbon-color
    background-color: $river-bed-color

  .complaint-card-map
    width: $item-width - 2 // minus 2 borders
    height: 100px

  .content
    padding: 0 16px
    overflow: hidden
    font-weight: 200

  .section
    border-bottom: 1px solid $gray-color
    padding: 10px 0 12px

    &:last-child
      border: none

    .section-label
      color: $alto-color
      font-size: 12px

    .section-sub-label
      float: right

    .section-content
      color: white
      font-size: 14px
      overflow: hidden

      &.accused
        color: $alto-color

      &.nowrap-text
        text-overflow: ellipsis
        white-space: nowrap
