@import 'variables'

$content-width: 208px

\:local(.officer-info)
  display: inline-block
  cursor: pointer

  &.left-officer
    text-align: left
    padding: 8px 8px

  &.right-officer
    text-align: right
    float: right
    padding: 8px 8px

  .officer-info-text
    font-weight: 300
    font-size: 12px
    color: $boulder-color
    width: $content-width
    height: 14px
    padding: 0 4px
    box-sizing: border-box

  .officer-info-name
    font-weight: 300
    font-size: 14px
    color: $soft-black-color
    width: $content-width
    height: 18px
    padding: 0 4px
    box-sizing: border-box

  .officer-info-personal-info
    font-weight: 300
    font-size: 14px
    color: $boulder-color
    width: $content-width
    height: 36px
    padding: 11px 4px 0 4px
    box-sizing: border-box

  .officer-info-row-divider
    width: 208px
    border-bottom: solid 1px $white-two-color
    margin: 11px 0

.officer-info-left-hover-sibling:hover ~ .pairing-card-content .left-officer
  .officer-info-name
    color: $accent-color

  .officer-info-text
    color: $accent-color

.officer-info-right-hover-sibling:hover ~ .pairing-card-content .right-officer
  .officer-info-name
    color: $accent-color

  .officer-info-text
    color: $accent-color
