@import 'variables'

\:local(.officer-info)
  display: inline-block
  cursor: pointer
  width: 50%

  &.left-officer
    text-align: left

  &.right-officer
    text-align: right
    float: right

  .officer-info-upper
    height: 53px
    padding: 11px 12px 13px 12px
    box-sizing: border-box

    .officer-info-text
      font-weight: 300
      font-size: 12px
      color: $boulder-color
      height: 14px
      box-sizing: border-box

    .officer-info-name
      font-weight: 300
      font-size: 14px
      color: $soft-black-color
      height: 18px
      box-sizing: border-box

  .officer-info-personal-info
    font-weight: 300
    font-size: 14px
    color: $boulder-color
    height: 58px
    padding: 11px 12px 13px 12px
    box-sizing: border-box

  .officer-info-row-divider
    margin: 0 12px
    border-bottom: solid 1px $white-two-color

.officer-info-left-hover-sibling:hover ~ .pairing-card-content .left-officer
  .officer-info-name
    color: $accent-color

  .officer-info-text
    color: $accent-color

.officer-info-right-hover-sibling:hover ~ .pairing-card-content .right-officer
  .officer-info-name
    color: $accent-color

  .officer-info-text
    color: $accent-color
