@import 'variables'

$header-fixed-width: 81
$table-min-width: 960
$horizontal-margin: 32px

\:local(.table)
  min-width: calc(#{$table-min-width}px + #{$horizontal-margin})
  margin-left: calc(#{$horizontal-margin} / 2)
  margin-right: calc(#{$horizontal-margin} / 2)
  font-size: 14px
  color: $boulder-color

%headerCol
  font-weight: 300
  text-align: left
  display: inline-block
  height: 100%
  vertical-align: top
  box-sizing: border-box

@function flexible-column($min-width)
  @return calc((100% - #{$header-fixed-width}px) * (#{$min-width} / (#{$table-min-width} - #{$header-fixed-width})))

\:local(.headerRow)
  background-color: white
  text-transform: uppercase
  height: 69px
  box-sizing: border-box
  padding-top: 26px
  position: relative
  padding-left: 16px
  padding-right: 16px

  .header-thumbnail
    @extend %headerCol
    width: 81px

  .header-title
    @extend %headerCol
    min-width: 306px
    width: flexible-column(306)

  .header-crid-uid
    @extend %headerCol
    min-width: 188px
    width: flexible-column(188)

  .header-source
    @extend %headerCol
    min-width: 309px
    width: flexible-column(309)

  .header-counts
    @extend %headerCol
    display: none

  .header-date
    @extend %headerCol
    text-align: right
    padding-right: 15px
    min-width: 76px
    width: flexible-column(76)

  &.edit-mode
    .header-title
      min-width: 242px
      width: flexible-column(242)

    .header-crid-uid
      min-width: 149px
      width: flexible-column(149)

    .header-source
      min-width: 245px
      width: flexible-column(245)

    .header-counts
      display: inline-block
      min-width: 183px
      width: flexible-column(183)

    .header-date
      min-width: 60px
      width: flexible-column(60)

\:local(.rowsWrapper)
  background-color: $sugar-cane-color
  border: 1.25px solid $white-two-color
  border-radius: 3px
  margin-top: 1.25px
  margin-bottom: 20px
  padding-bottom: 33px
