@import 'variables'

\:local(.breadcrumbs-placeholder)
  height: 80px


\:local(.wrapper)
  height: 80px
  position: fixed
  background-color: $sugar-cane-color
  width: 100%
  font-size: 14px
  border-bottom: 1.25px solid $white-two-color
  z-index: 3

  .breadcrumbs-container
    margin-top: 20px

  .breadcrumbs
    font-weight: 300
    margin: 0
    padding: 0
    padding: 0 18px
    font-weight: 300 !important

  .shareable-header-breadcrumb-separator
    padding: 2px 8px 0 0
    height: 12px
    width: 7.4px
    background: url('/img/disclosure-indicator.svg') no-repeat scroll
    vertical-align: middle
    display: inline-block
    font-weight: 500
    line-height: 40px
