@import 'variables'

\:local(.wrapper)
  height: 103px
  padding-top: 58px
  padding-right: calc(16px + (100% - 113px) * 0.017064846416382253)
  box-sizing: border-box
  text-transform: uppercase
  text-align: right
  font-size: 18px
  font-family: $san-francisco-text-family
  font-weight: 400
  color: $soft-black-color
  background-color: $sugar-cane-color

