\:local(.officer-page)
  -webkit-overflow-scrolling: touch

  @media print
    padding: 0

  .page-wrapper
    box-sizing: border-box

    @media print
      padding: 0

\:local(.officer-page-footer)
  background-color: white
