@import 'variables'

\:local(.officer-page)
  -webkit-overflow-scrolling: touch

  @media print
    padding: 0

  .page-wrapper
    box-sizing: border-box

    @media print
      padding: 0

\:local(.download-btn)
  cursor: pointer
  display: inline-block
  width: 48px
  height: 32px
  border-radius: 2px
  border: 1px solid $alto-color
  margin-left: 8px
  background: $wild-sand-color url('/img/ic-download.svg') no-repeat center
  box-sizing: border-box

  &:hover
    background-image: url('/img/ic-download-blue.svg')

  &.focus
    background-color: $blue-ribbon-color
    background-image: url('/img/ic-download-white.svg')
