@import 'variables'

\:local(.preview-pane)
  width: 321px
  border: 1px solid $white-two-color
  background-color: white
  box-sizing: border-box
  display: inline-block
  vertical-align: top
  margin: 12px 20px 12px 12px
