@import 'variables'

\:local(.printable)
  width: 100%

  .printable-header
    font-weight: 500
    padding-top: 25px
    display: none

    // For Safari only (can not override page margin in safari)
    @media not all and (min-resolution:.001dpcm)
      @supports (-webkit-appearance:none) and (stroke-color:transparent)
        padding-top: 0

    @media print
      display: flex

    .right-header
      flex-grow: 1
      text-align: right
      border-bottom: 1px solid $soft-black-color

      .printable-as-of
        font-size: 10px

      .printable-date
        font-size: 12px

    .left-header
      flex-grow: 1
      text-align: left
      border-bottom: 1px solid $soft-black-color
      font-size: 12px
      line-height: 38px

  .main-content
    max-width: 100vh

  thead
    display: table-header-group

  tbody
    display: table-row-group
