@import 'variables'

%center-img
  margin: auto
  display: inline-block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  max-width: 100%
  max-height: 100%
  width: auto
  height: auto

\:local(.document-page)
  .document-wrapper
    padding: 36px 0 64px 0

    .document-side-bar
      width: 285px
      padding: 0 17px
      display: inline-block
      vertical-align: top

      .document-thumbnail
        display: block
        width: 285px
        height: 375px
        margin-bottom: 24px
        position: relative
        border: 1px solid $alto-color

        .document-thumbnail-img
          @extend %center-img

        .document-thumbnail-page-count
          display: inline-block
          position: absolute
          height: 22px
          line-height: 22px
          color: white
          font-size: 12px
          background-color: $gray-color
          opacity: 0.8
          border-radius: 2px
          padding: 0 8px
          bottom: 11px
          left: 10px

      .document-info
        padding-bottom: 42px

      .linked-documents
        margin-left: -9px

        .linked-documents-title
          color: $boulder-color
          margin-bottom: 1px
          font-size: 14px
          margin-left: 8px

        .linked-documents-content
          display: block

        .linked-documents-thumbnail
          margin: 10px 0 0 9px
          display: inline-block
          position: relative
          vertical-align: top
          width: 40px
          height: 58px
          border: 1px solid $alto-color
          box-sizing: border-box

          img
            @extend %center-img

          &.linked-documents-more
            width: 40px
            height: 58px
            line-height: 58px
            border: 1px solid $alto-color
            text-align: center
            box-sizing: border-box
            font-size: 14px
            color: $boulder-color

    .main-section
      display: inline-block
      position: relative
      width: calc(100% - 353px)
      background-color: $wild-sand-color
      padding: 20px 21px 24px 23px
      box-sizing: border-box
      vertical-align: top
      border-radius: 2px
      border: 1px solid $alto-color

      .main-section-last-edited
        position: absolute
        bottom: 0
        left: 0
        right: 0
        background-color: $hawkes-blue-color
        color: $thunder-color
        padding: 12px 23px 13px 23px
        font-size: 12px
        height: 40px
        line-height: 15px
        border-radius: 2px
        box-sizing: border-box
        font-weight: 300

        .last-edited-highlight
          color: $blue-ribbon-color
          font-weight: 500
