@import 'variables'

\:local(.editable-text-box)
  margin-bottom: 40px
  font-size: 14px

  .editable-text-box-title
    color: $clay-gray
    margin-bottom: 7px
    line-height: 18px
    box-sizing: border-box

  .editable-text-box-text
    color: $soft-black-color
    background-color: white
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    height: 40px
    padding: 9px 13px
    font-size: 18px
    box-sizing: border-box
    font-weight: 400
    border-radius: 2px

    &.multiline
      color: $clay-gray
      height: 669px
      overflow-y: scroll
      white-space: unset
      text-overflow: unset
      padding: 11px 13px
      font-size: 14px
      font-weight: 300
