@import 'variables'

\:local(.editable-tags-input)
  margin-bottom: 40px
  font-size: 14px

  .editable-tags-title
    color: $clay-gray
    margin-bottom: 7px
    line-height: 18px
    box-sizing: border-box
