@import 'variables'

\:local(.download-menu)
  position: absolute
  right: 0
  top: 27px
  border: 1px solid $alto-color
  border-radius: 4px
  z-index: 3
  background-color: white
  width: 200px

  .title
    font-weight: 300
    color: $boulder-color
    padding: 21px 12px 7px 12px
