@import 'variables'

\:local(.download-menu-item)
  margin: 0 12px
  display: block
  border-bottom: 1px solid $alto-color
  color: inherit
  text-decoration: none
  vertical-align: middle
  cursor: pointer
  padding: 15px 0 16px 0

  &:last-child
    border-bottom: none

  .download-requesting
    float: right
    width: 32px
    height: 32px
    border: 1px solid $alto-color
    border-radius: 2px
    background-color: $wild-sand-color

  .download-menu-item-img
    @extend .download-requesting
    background: $wild-sand-color url('/img/download.svg') 10px 10px no-repeat

  &:hover
    .download-menu-item-img
      background: $wild-sand-color url('/img/download-blue.svg') 10px 10px no-repeat

  .download-item-text
    display: inline-block
    vertical-align: middle
    font-weight: 300

    .item-title
      display: block
      color: $thunder-color
      line-height: 17px

    .item-extension
      font-size: 12px
      line-height: 14px
      color: $boulder-color
