@import 'variables'


\:local(.edge-coaccusals-pane)
  background-color: $wild-sand-color
  height: 100vh
  overflow-y: auto
  box-sizing: border-box

  .edge-coaccusals-pane-header
    color: $mine-shaft-color
    background-color: $wild-sand-color
    border-bottom: solid 2px $alto-color
    text-align: center
    margin: 0 8px 0 8px
    padding: 39px 0 9px 0
    line-height: 16px

  .loading-img
    display: block
    width: 60px
    height: 60px
    margin: 60px auto
