@import 'variables'

\:local(.preview-pane)
  background-color: white

  &.officer-preview-pane
    width: 321px
    margin: 12px 20px 12px 12px
    border: 1px solid $white-two-color
    box-sizing: border-box
