@import 'variables'

\:local(.preview-pane)
  width: 100%
  border: 1px solid $alto-color
  border-radius: 2px
  box-sizing: border-box
  display: inline-block
  vertical-align: top
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
