@import 'variables'

\:local(.preview-pane)
  width: calc(100% - 32px)
  border: 1px solid $white-two-color
  border-radius: 2px
  box-sizing: border-box
  display: inline-block
  vertical-align: top
  margin: 12px 20px 12px 12px
  height: calc(100% - 24px)
