@import 'variables'
@import 'common'

\:local(.search-box)
  position: relative
  width: calc(100% - 58px)
  display: inline-block
  margin-right: 16px
  box-sizing: border-box
  background-color: $wild-sand

  .magnifying-glass
    position: absolute
    top: 14px
    left: 14px
