@import 'variables'
@import 'common'

\:local(.search-box)
  position: relative
  width: calc(100% - 58px)
  display: inline-block
  margin-right: 16px
  box-sizing: border-box
  background-color: $wild-sand

  .magnifying-glass
    position: absolute
    top: 14px
    left: 14px

  .search-box-text-input + div
     color: $accent-color

  &.animation-in
    animation-duration: $animation-duration
    animation-name: changeWidth
    animation-fill-mode: forwards

    &.middle
      .magnifying-glass path
        animation-duration: $animation-duration
        animation-name: changeGlassColor
        animation-fill-mode: forwards

      .search-box-text-input + div
        animation-duration: $animation-duration
        animation-name: changeTextInputColor
        animation-fill-mode: forwards

@keyframes changeWidth
  from
    width: 512px

  to
    width: calc(100% - 58px)

@keyframes changeGlassColor
  from
    fill: $boulder-color

  to
    fill: $accent-color

@keyframes changeTextInputColor
  from
    color: $boulder-color

  to
    color: $accent-color
