@import 'variables'

\:local(.trr-page)
  position: relative
  background-color: $sugar-cane-color
  border-bottom: 1px solid $white-two-color
  min-height: 100vh

  .trr-content
    min-height: calc(100vh - 136px)
    padding-bottom: 128px

    .trr-title
      font-size: 26px
      font-weight: 400
      color: $soft-black-color
      padding-top: 16px
      padding-bottom: 16px
      margin: 0 16px
