@import 'variables'

\:local(.cr-location-map)
  @media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint)
    width: 100%
    height: 239.87px

  @media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint)
    width: 100%
    height: 480.3px

  @media screen and (min-width: $desktop-breakpoint)
    width: 100%
    height: 364.5px

  @media print
    width: 100%
    height: 210px
