@import 'variables'

%base-toast-wrapper
  background-color: $sprout-color
  border-radius: 4px
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
  color: $japanese-laurel-color
  line-height: 40px
  min-height: 40px
  font-size: 14px
  padding: 0
  text-align: left
  width: auto

\:local(.pinboard-page-toast)
  @extend %base-toast-wrapper
  padding: 12px 8px
  width: 340px

\:local(.alert-toast)
  @extend %base-toast-wrapper
  background-color: $champagne-color
  color: $scarlet-color
  padding: 12px 8px
  width: 340px
