@import 'variables'

$social-graph-sidebar-width: 244px

\:local(.socialGraphPage)
  background-color: $sugar-cane-color

  .sidenav
    width: $social-graph-sidebar-width
    height: 100vh
    padding: 39px 28px 39px 12px
    box-sizing: border-box
    float: left
    font-size: 14px
    color: $boulder-color
    font-weight: 300

    .sidenav-title
      color: $soft-black-color
      font-weight: normal
      margin-bottom: 9px

    .coaccusals-threshold-slider-container
      margin-bottom: 7px

      .coaccusals-threshold-slider
        margin: 8px 0

        .rc-slider-handle
          width: 48px
          height: 24px
          margin-top: -12px
          margin-left: -20px
          background-color: $accent-color
          border-radius: 100px
          text-align: center

          &::after
            content: attr(aria-valuenow)
            line-height: 24px
            font-size: 14px
            color: white

  .graph-container
    width: calc(100% - #{$social-graph-sidebar-width})
    height: 100vh
    float: left
    background-color: white
