@import 'variables'

\:local(.officer-row)
  padding: 11px 0
  border-bottom: 1px solid $white-two-color
  cursor: pointer

  .radar-chart-wrapper
    width: 32px
    height: 32px
    border-radius: 2px
    float: left

  .officer-name
    float: left
    font-size: 14px
    color: $soft-black-color
    font-weight: 300
    line-height: 32px
    margin-left: 8px
