@import 'variables'

\:local(.right-pane-section)
  height: 100vh
  border-left: 1px solid $white-two-color

  .right-pane-section-menu
    line-height: 64px
    text-align: center

  .right-pane-tab-name
    font-size: 14px
    color: $accent-color
    padding: 39px 12px 9px 12px
    line-height: 16px
    cursor: pointer
    float: left

    &.active
      color: $soft-black-color
      border-bottom: 2px solid $soft-black-color
