@import 'variables'

\:local(.wrapper)
  border-radius: 2px
  background-color: $wild-sand-color
  padding: 8px 0px

\:local(.chunk)
  border-bottom: 2px solid $alto-color

  .is-last-item
    border-bottom: none

\:local(.nested-wrapper)
  margin: 0 8px
  padding: 8px
  background-color: white
  border-radius: 2px
  border: 1px solid $alto-color

.clear-fix
  clear: both
