@import 'variables'

\:local(.title-widget)
  padding: 20px 0 22px 0
  margin: 0 16px

  .header-widget-title
    padding: 3px 0
    font-size: 26px
    font-weight: 500

  .header-widget-subtitle
    padding: 3px 0
    font-size: 18px
    color: $boulder-color
    font-weight: 300
