@import 'variables'

\:local(.wrapper)
  width: 321px
  border-left: 1px $white-two-color solid
  background-color: white
  height: 100%
  box-sizing: border-box
  display: inline-block
  vertical-align: top

\:local(.y-scrollable)
  overflow-y: scroll
