@import 'variables'

\:local(.pinboard-admin-page)
  .preview-pane
    background-color: $sugar-cane-color
    overflow-x: hidden
    position: fixed
    top: 0
    right: 0
    z-index: 1001

  [aria-hidden="true"]
    opacity: 0
    transition: opacity 0.25s, z-index 0s 0.25s
    z-index: -1

  [aria-hidden="false"]
    display: block
    opacity: 0.8
    transition: opacity 0.8s
    z-index: 1000
