@import 'variables'

$horizontal-margin: 32px

\:local(.table)
  min-width: calc(960px + #{$horizontal-margin})
  margin-left: calc(#{$horizontal-margin} / 2)
  margin-right: calc(#{$horizontal-margin} / 2)
  font-size: 14px
  color: $boulder-color

\:local(.rowsWrapper)
  background-color: $wild-sand-color
  border: 1.25px solid $alto-color
  border-radius: 3px
  margin-top: 1.25px
  margin-bottom: 20px
  padding-bottom: 33px
