@import 'variables'

\:local(.pinboard-admin-page)
  .preview-pane
    background-color: $wild-sand-color
    overflow-x: hidden
    position: fixed
    top: 0
    right: 0
    z-index: $preview-pane-z-index

  .overlay[aria-hidden="true"]
    opacity: 0
    transition: opacity 0.25s, z-index 0s 0.25s
    z-index: -1

  .overlay[aria-hidden="false"]
    display: block
    opacity: 0.8
    transition: opacity 0.8s
    z-index: $overlay-z-index
