@import variables

$height: 58px

\:local(.trr)
  .trr-item-content
    height: $height
    line-height: calc(#{$height} - 1px)
    display: inline-block

    .trr-item-kind
      width: 57px
      color: white
      background-color: $gray-color
      font-weight: 300

      @media print
        background-color: $alto-color
        width: 85px

    .trr-item-category
      display: inline-block
      vertical-align: middle
      color: $thunder-color

  .trr-item-date
    font-size: 12px
    color: $thunder-color
    font-weight: 300

    @media print
      font-size: 10px
      font-weight: 400

  &:hover
    background-color: white

    .trr-item-content
      .trr-item-category
        color: $blue-ribbon-color
