@import 'variables'

\:local(.simple-popup)
  &.popup.type-light
    background-color: white
    border-radius: 2px
    border: solid 1px $alto-color
    color: black
    opacity: 1
    width: 285px
    text-align: left
    padding: 20px 15px 18px 15px
    pointer-events: unset
    margin: 0
    overflow-wrap: break-word

    &::after
      border: none
