@import 'variables'

\:local(.table)
  min-width: 989px
  margin: 0 18px
  font-size: 14px
  color: $clay-gray
  height: calc(100vh - 39px)

\:local(.headerRow)
  background-color: white
  text-transform: uppercase
  box-sizing: border-box
  line-height: 18px
  padding: 31px 0 22px 22px

  .header-col
    font-weight: 300
    display: inline-block
    vertical-align: top
    width: 20%
    text-align: center

    &.crawler-header
      text-align: left
