@import 'variables'

\:local(.crawlerRow)
  font-size: 14px
  border-radius: 2px
  margin-bottom: 3px
  padding-left: 22px
  background-color: $wild-sand-color
  color: $boulder-color

  &.has-log-file
    cursor: pointer

  .crawler-col
    display: inline-block
    width: 20%
    line-height: 18px
    padding: 15px 0 16px 0
    font-weight: 300
    text-align: center

    &.crawler-name
      color: $thunder-color
      text-align: left

    &.recent-run
      &.failed
        color: $guardsman-red-color
