@import 'variables'

$table-min-width: 992
$row-fixed-width: 84

%cell
  overflow: hidden
  display: inline-block
  vertical-align: top
  box-sizing: border-box
  transition: color 0.2s ease-in-out

@function flexible-column($min-width)
  @return calc((100% - #{$row-fixed-width}px) * (#{$min-width} / (#{$table-min-width} - #{$row-fixed-width})))

\:local(.row)
  background-color: $sugar-cane-color
  height: 80px
  width: 100%
  min-width: #{$table-min-width}px
  text-align: left
  margin-bottom: 2px
  cursor: pointer
  transition: background-color 0.2s ease-in-out
  font-weight: 200

  &.document-faded
    background-color: $snow-color

  .document-thumbnail
    @extend %cell
    width: 39px
    margin-top: 14px
    margin-left: 19px
    margin-right: 26px
    height: 52px
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  .document-title
    @extend %cell
    min-width: 245px
    width: flexible-column(245)
    color: $soft-black-color
    height: 100%
    display: inline-flex
    flex-direction: column
    justify-content: center
    padding-right: 50px
    font-weight: 400
    color: $soft-black-color

    &.document-faded
      color: $light-grey-color

  .document-source
    @extend %cell
    min-width: 260px
    width: flexible-column(260)
    margin-top: 31px
    padding-right: 50px

    &.document-faded
      color: $light-grey-color

  .document-counts
    @extend %cell
    min-width: 196px
    width: flexible-column(196)
    margin-top: 31px
    padding-right: 50px

    &.document-faded
      color: $light-grey-color

  .document-date
    @extend %cell
    min-width: 130px
    width: flexible-column(130)
    margin-top: 31px
    padding-right: 50px

    &.document-faded
      color: $light-grey-color

  .document-toggle
    @extend %cell
    min-width: 77px
    width: flexible-column(77)
    margin-top: 31px
