@import 'variables'

\:local(.wrapper)
    display: inline-block
    width: 52px
    height: 20px
    position: relative
    display: inline-block
    background-color: $alto-lighter-color
    border-radius: 23px
    vertical-align: text-bottom

    .toggle-icon
        position: absolute
        top: 2px
        left: 2px
        width: 16px
        height: 16px
        background-color: white
        border-radius: 11px
        transition: all 0.2s ease-in-out

    .toggle-text
        color: white
        font-family: $san-francisco-text-family
        font-size: 8px
        font-weight: 400
        text-transform: uppercase
        margin-left: 23px
        margin-top: 6px

    &.toggle-on
        background-color: $hawkes-blue-color

        .toggle-icon
            left: 34px

        .toggle-text
            color: $blue-ribbon-color
            margin-left: 8px
            margin-top: 6px

