@import 'variables'
@import 'common'

\:local(.demo-video)
  float: right
  font-weight: 300
  padding-top: 8px
  height: 100%
  box-sizing: border-box

  .demo-video-text
    @extend %vertical-align-middle
    text-align: right
    display: inline-block
    margin-right: 12px
    vertical-align: top

    .demo-video-text-input
      color: $boulder-color
      padding: 8px 0
      min-width: 100px

  .demo-video-button
    display: inline-block
    position: relative

    .demo-video-thumbnail
      width: 117px
      height: 72px
      display: inline-block
      cursor: pointer
      border: solid 1px $alto-color
      box-sizing: border-box
      background-color: $iron-color
