@import 'variables'
@import 'common'

\:local(.demo-video)
  float: right
  @extend %vertical-align-middle
  font-weight: 300

  .demo-video-text
    @extend %vertical-align-middle
    text-align: right
    display: inline-block
    margin-right: 12px

    .demo-video-text-upper
      color: $boulder-color

    .demo-video-text-lower
      color: $accent-color

  .demo-video-button
    width: 100px
    height: 66px
    display: inline-block
    background: url('/img/vimeo-demo-video-thumbnail.png') no-repeat scroll center transparent
    cursor: pointer
    outline: solid 5px $accent-color50

    .demo-video-play-button
      @extend %vertical-align-middle
      margin: 0 auto
      display: block

  &.bottom
    .demo-video-text-upper
      color: white

    .demo-video-text-lower
      color: white
