@import 'variables'

\:local(.logo)
  max-width: 288px

  .header-logo-title
    text-decoration: none
    font-weight: 400
    cursor: pointer
    color: $thunder-color

  .header-logo-subtitle
    font-size: 14px
    font-weight: 300
    width: 288px
    color: $boulder-color
