@import 'variables'

\:local(.right-links)
  margin-right: 17px

  .right-link
    text-decoration: none
    color: $medium-gray-color
    font-weight: 300
    cursor: pointer
    margin-left: 50px

    &.top
      color: $accent-color

    &.middle
      color: $clay-gray

    &.bottom
      color: white
