@import 'variables'

\:local(.right-links)
  margin-right: 17px

  .right-link
    display: inline-block
    text-decoration: none
    font-weight: 300
    cursor: pointer
    margin-left: 50px
    color: $blue-ribbon-color

  &.middle
    .right-link
      color: $boulder-color
