@import 'variables'
@import 'common'

\:local(.slim-header)
  height: 128px
  width: 100%

  .header-content
    box-sizing: border-box
    width: inherit
    font-size: 14px
    line-height: 18px
    height: 128px
    background-color: white

    .top-bar-wrapper
      box-shadow: 0 1px 1px 0 $black13-color
      position: relative
      z-index: 2

    .top-bar
      height: 88px
      padding: 0 8px 0 16px
      max-width: 1440px
      margin: 0 auto
      box-sizing: border-box

    .navbar-wrapper
      position: relative
      z-index: 1
      background-color: $sugar-cane-color
      box-shadow: 0 1px 2px 0 $black15-color

    .navbar
      height: 40px
      max-width: 1440px
      margin: 0 auto

    .vertically-aligned-header-item
      @extend %vertical-align-middle
      float: right

    .logo
      @extend %vertical-align-middle
      display: inline-block

    &.middle
      position: fixed
      top: -88px
      left: 0
      right: 0
      z-index: 20
      transition: top 0.5s
      background-color: white

    &.bottom
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 20
      cursor: pointer
      background-color: $accent-color
      animation-fill-mode: forwards
      transition: top 0.5s

      .navbar-wrapper
        background-color: transparent
