@import 'variables'

$height: 68px

\:local(.award)
  height: $height
  line-height: calc(#{$height} - 1px)
  display: inline-block

  .award-item-kind
    color: $boulder-color
    background-color: $wild-sand-color
    border: solid 1px $alto-color

    @media print
      width: 85px

  .award-item-category
    display: inline-block
    font-size: 18px
    line-height: 21px
    vertical-align: middle

  .award-item-date
    font-size: 16px
    color: $thunder-color
    font-weight: 300

    @media print
      font-size: 10px
      font-weight: 400
