@import 'variables'

\:local(.officer-section)
  border-radius: 2px
  border: solid 1px $white-two-color
  min-height: 200px
  padding: 0 16px
  background-color: white
  box-sizing: border-box
  margin: 0 16px

  .officer-section-list
    list-style-type: none
    padding: 0
    margin: 0
