@import 'variables'

%pinboard-btn
  display: inline-block
  float: right
  height: 32px
  font-weight: 200
  font-size: 14px
  text-align: center
  box-sizing: border-box
  padding-top: 7px
  margin-top: -5px
  border-radius: 2px

\:local(.pinboard-no-item)
  @extend %pinboard-btn
  width: 181px
  color: $cash-green-color
  border: 1px solid $white-two-color

\:local(.pinboard-has-items)
  @extend %pinboard-btn
  width: 109px
  color: $cash-green-color
  background-color: $pudding-matcha

  &:visited
    color: $cash-green-color

  &:hover
    color: white
    background-color: $cash-green-color




