body {
    background-color: white;
    font-family: "San Francisco Text", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.noscroll {
    overflow: hidden;
}

.link--transition {
    transition: color .25s ease-in-out,
        background-color .25s ease-in-out,
        background-image .25s ease-in-out,
        opacity .25s ease-in-out;
}

.subscribe-form__input::-webkit-input-placeholder {
    color: #005EF4;
}
.subscribe-form__input::-moz-placeholder {
    color: #005EF4;
}
.subscribe-form__input:-ms-input-placeholder {
    color: #005EF4;
}

.dropdown:focus {
    outline: none;
}

.clearfix {
    clear: both
}
