body {
    background-color: #F4F4F4;
}

.noscroll {
    overflow: hidden;
}

.link--transition {
    transition: color .25s ease-in-out, background-color .25s ease-in-out, background-image .25s ease-in-out;
}
