@media screen and (max-width: 767px) {
    .pure-u-mo-1,
    .pure-u-mo-1-1,
    .pure-u-mo-1-2,
    .pure-u-mo-1-3,
    .pure-u-mo-2-3,
    .pure-u-mo-1-4,
    .pure-u-mo-3-4,
    .pure-u-mo-1-5,
    .pure-u-mo-2-5,
    .pure-u-mo-3-5,
    .pure-u-mo-4-5,
    .pure-u-mo-5-5,
    .pure-u-mo-1-6,
    .pure-u-mo-5-6,
    .pure-u-mo-1-8,
    .pure-u-mo-3-8,
    .pure-u-mo-5-8,
    .pure-u-mo-7-8,
    .pure-u-mo-1-12,
    .pure-u-mo-5-12,
    .pure-u-mo-7-12,
    .pure-u-mo-11-12,
    .pure-u-mo-1-24,
    .pure-u-mo-2-24,
    .pure-u-mo-3-24,
    .pure-u-mo-4-24,
    .pure-u-mo-5-24,
    .pure-u-mo-6-24,
    .pure-u-mo-7-24,
    .pure-u-mo-8-24,
    .pure-u-mo-9-24,
    .pure-u-mo-10-24,
    .pure-u-mo-11-24,
    .pure-u-mo-12-24,
    .pure-u-mo-13-24,
    .pure-u-mo-14-24,
    .pure-u-mo-15-24,
    .pure-u-mo-16-24,
    .pure-u-mo-17-24,
    .pure-u-mo-18-24,
    .pure-u-mo-19-24,
    .pure-u-mo-20-24,
    .pure-u-mo-21-24,
    .pure-u-mo-22-24,
    .pure-u-mo-23-24,
    .pure-u-mo-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-mo-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-mo-1-12,
    .pure-u-mo-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-mo-1-8,
    .pure-u-mo-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-mo-1-6,
    .pure-u-mo-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-mo-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-mo-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-mo-1-4,
    .pure-u-mo-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-mo-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-mo-1-3,
    .pure-u-mo-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-mo-3-8,
    .pure-u-mo-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-mo-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-mo-5-12,
    .pure-u-mo-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-mo-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-mo-1-2,
    .pure-u-mo-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-mo-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-mo-7-12,
    .pure-u-mo-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-mo-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-mo-5-8,
    .pure-u-mo-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-mo-2-3,
    .pure-u-mo-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-mo-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-mo-3-4,
    .pure-u-mo-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-mo-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-mo-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-mo-5-6,
    .pure-u-mo-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-mo-7-8,
    .pure-u-mo-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-mo-11-12,
    .pure-u-mo-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-mo-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-mo-1,
    .pure-u-mo-1-1,
    .pure-u-mo-5-5,
    .pure-u-mo-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .pure-u-ta-1,
    .pure-u-ta-1-1,
    .pure-u-ta-1-2,
    .pure-u-ta-1-3,
    .pure-u-ta-2-3,
    .pure-u-ta-1-4,
    .pure-u-ta-3-4,
    .pure-u-ta-1-5,
    .pure-u-ta-2-5,
    .pure-u-ta-3-5,
    .pure-u-ta-4-5,
    .pure-u-ta-5-5,
    .pure-u-ta-1-6,
    .pure-u-ta-5-6,
    .pure-u-ta-1-8,
    .pure-u-ta-3-8,
    .pure-u-ta-5-8,
    .pure-u-ta-7-8,
    .pure-u-ta-1-12,
    .pure-u-ta-5-12,
    .pure-u-ta-7-12,
    .pure-u-ta-11-12,
    .pure-u-ta-1-24,
    .pure-u-ta-2-24,
    .pure-u-ta-3-24,
    .pure-u-ta-4-24,
    .pure-u-ta-5-24,
    .pure-u-ta-6-24,
    .pure-u-ta-7-24,
    .pure-u-ta-8-24,
    .pure-u-ta-9-24,
    .pure-u-ta-10-24,
    .pure-u-ta-11-24,
    .pure-u-ta-12-24,
    .pure-u-ta-13-24,
    .pure-u-ta-14-24,
    .pure-u-ta-15-24,
    .pure-u-ta-16-24,
    .pure-u-ta-17-24,
    .pure-u-ta-18-24,
    .pure-u-ta-19-24,
    .pure-u-ta-20-24,
    .pure-u-ta-21-24,
    .pure-u-ta-22-24,
    .pure-u-ta-23-24,
    .pure-u-ta-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-ta-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-ta-1-12,
    .pure-u-ta-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-ta-1-8,
    .pure-u-ta-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-ta-1-6,
    .pure-u-ta-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-ta-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-ta-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-ta-1-4,
    .pure-u-ta-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-ta-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-ta-1-3,
    .pure-u-ta-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-ta-3-8,
    .pure-u-ta-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-ta-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-ta-5-12,
    .pure-u-ta-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-ta-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-ta-1-2,
    .pure-u-ta-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-ta-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-ta-7-12,
    .pure-u-ta-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-ta-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-ta-5-8,
    .pure-u-ta-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-ta-2-3,
    .pure-u-ta-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-ta-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-ta-3-4,
    .pure-u-ta-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-ta-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-ta-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-ta-5-6,
    .pure-u-ta-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-ta-7-8,
    .pure-u-ta-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-ta-11-12,
    .pure-u-ta-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-ta-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-ta-1,
    .pure-u-ta-1-1,
    .pure-u-ta-5-5,
    .pure-u-ta-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .pure-u-de-1,
    .pure-u-de-1-1,
    .pure-u-de-1-2,
    .pure-u-de-1-3,
    .pure-u-de-2-3,
    .pure-u-de-1-4,
    .pure-u-de-3-4,
    .pure-u-de-1-5,
    .pure-u-de-2-5,
    .pure-u-de-3-5,
    .pure-u-de-4-5,
    .pure-u-de-5-5,
    .pure-u-de-1-6,
    .pure-u-de-5-6,
    .pure-u-de-1-8,
    .pure-u-de-3-8,
    .pure-u-de-5-8,
    .pure-u-de-7-8,
    .pure-u-de-1-12,
    .pure-u-de-5-12,
    .pure-u-de-7-12,
    .pure-u-de-11-12,
    .pure-u-de-1-24,
    .pure-u-de-2-24,
    .pure-u-de-3-24,
    .pure-u-de-4-24,
    .pure-u-de-5-24,
    .pure-u-de-6-24,
    .pure-u-de-7-24,
    .pure-u-de-8-24,
    .pure-u-de-9-24,
    .pure-u-de-10-24,
    .pure-u-de-11-24,
    .pure-u-de-12-24,
    .pure-u-de-13-24,
    .pure-u-de-14-24,
    .pure-u-de-15-24,
    .pure-u-de-16-24,
    .pure-u-de-17-24,
    .pure-u-de-18-24,
    .pure-u-de-19-24,
    .pure-u-de-20-24,
    .pure-u-de-21-24,
    .pure-u-de-22-24,
    .pure-u-de-23-24,
    .pure-u-de-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-de-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-de-1-12,
    .pure-u-de-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-de-1-8,
    .pure-u-de-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-de-1-6,
    .pure-u-de-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-de-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-de-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-de-1-4,
    .pure-u-de-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-de-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-de-1-3,
    .pure-u-de-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-de-3-8,
    .pure-u-de-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-de-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-de-5-12,
    .pure-u-de-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-de-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-de-1-2,
    .pure-u-de-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-de-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-de-7-12,
    .pure-u-de-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-de-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-de-5-8,
    .pure-u-de-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-de-2-3,
    .pure-u-de-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-de-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-de-3-4,
    .pure-u-de-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-de-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-de-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-de-5-6,
    .pure-u-de-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-de-7-8,
    .pure-u-de-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-de-11-12,
    .pure-u-de-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-de-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-de-1,
    .pure-u-de-1-1,
    .pure-u-de-5-5,
    .pure-u-de-24-24 {
        width: 100%;
    }
}