.Toastify__toast-container--top-right {
    top: 100px;
    right: 12px;
}

.Toastify__toast-container {
    width: 150px;
}

.Toastify__toast {
    margin-bottom: 8px;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100vh, 0);
        visibility: visible; 
    }
    to {
        transform: translate3d(0, 0, 0); 
    } 
}

@keyframes fadeOut {
    0% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
        display: none;
    }
}

.toast-enter--top-right {
    animation-name: slideInDown;
}

.toast-exit--top-right {
    animation-name: fadeOut;
}
