// Colors
$white-20-color: rgba(255, 255, 255, 0.2)
$white-70-color: rgba(255, 255, 255, 0.7)
$white-0-color: rgba(255, 255, 255, 0)
$black-19-color: rgba(0, 0, 0, 0.19)
$black-15-color: rgba(0, 0, 0, 0.15)
$black-10-color: rgba(0, 0, 0, 0.1)
$thunder-color: #231F20
$thunder-50-color: rgba(35, 31, 32, 0.5)
$thunder-90-color: rgba(35, 31, 32, 0.9)
$cod-gray-color: #1A1818
$azure-radiance-color: #1775F1
$blue-ribbon-color: #005EF4
$dodger-blue-color: #4382F6
$denim-50-color: rgba(16, 94, 217, 0.5)
$hint-of-red-color: #FBFAFA
$alabaster-color: #FAF9F9
$alto-lighter-color: #E0E0E0
$alto-light-color: #DEDEDE
$alto-color: #DBDBDB
$alto-dark-color: #D8D8D8
$shocking-pink-color: #D518d2
$purple-pizzazz-color: #D002CD
$pink-lace-color: #FFE8FF
$chantilly-color: #FAD7E9
$chantilly-light-color: #F9D2E9
$azalea-color: #F5BAD1
$azalea-light-color: #F5CCCC
$silver-chalice-color: #ADADAD
$silver-chalice-light-color: #AFAFAF
$dusty-gray-color: #979797
$scarlet-color: #FF1F00
$guardsman-red-color: #CC0000
$torch-red-color: #F9001E
$blaze-orange-color: #FF5F00
$blaze-orange-light-color: #FF6000
$blaze-orange-light-10-color: rgba(255, 96, 0, 0.1)
$wild-sand-color: #F5F4F4
$wild-sand-80-color: rgba(245, 244, 244, 0.8)
$tutu-color: #FFEFFF
$gray-color: #8F8F8F
$gray-40-color: rgba(143, 143, 143, 0.4)
$hawkes-blue-color: #CCDFFD
$linen-color: #FDFAF2
$vida-loca-color: #499C21
$vida-loca-10-color: rgba(73, 156, 33, 0.1)
$zanah-color: #CEE4C8
$japanese-laurel-color: #236C00
$bilbao-color: #187110
$sprout-color: #C7DFBB
$champagne-color: #FBE2D4
$tundora-color: #464243
$boulder-color: #767676
$river-bed-color: #454C59
$mine-shaft-color: #3C3C3C
$willow-brook-color: #E2EDDB
$satin-linen-color: #E6E1DA
$gin-fizz-color: #FFF8E3
$mystic-color: #DFE4EA
$gin-fizz-color: #FFF8E3
$athens-gray-color: #EDEDEE
$iron-color: #C9CED0
$iron-light-color: #D0D2D3
$bilbao-color: #187110

// Fonts
$san-francisco-text-family: "San Francisco Text", sans-serif
$minion-pro-family: "Minion Pro Regular", sans-serif

// Search
$sidebar-width: 320

// Responsive
$mobile-breakpoint: 768px
$tablet-breakpoint: 992px
$desktop-breakpoint: 1200px

$min-width-threshold: 768px
$max-width-threshold: 1440px

// Header
$shareable-header-height: 40px

// Animation
$animation-duration: 0.5s
$medium-animation-duration: 0.3s
$quick-animation-duration: 0.2s

$pinboard-description-lines: 3

// z-index
$modal-z-index: 2000
$preview-pane-z-index: 1601
$overlay-z-index: 1600
$shareable-header-z-index: 1500
$toast-z-index: 1200
$slim-header-z-index: 20 // need to be at least 20 to cover Mapbox's controls & copyright text
