$soft-black-color: #231F20
$soft-black-90-color: rgba(35, 31, 32, 0.9)
$light-grey-color: #D0D2D3
$accent-color: #005EF4
$lighter-accent-color: #4382F6
$grey-color: #DFDFDF
$snow-color: #FBFAFA
$concrete-color: #FAF9F9
$white-smoke-color: rgba(255,255,255, 0.7)
$denim-50-color: rgba(16, 94, 217, 0.5)
$alto-color: #D8D8D8
$light-black-color: rgba(0, 0, 0, 0.15)
$white-two-color: #DBDBDB
$gainsboro-color: #DEDEDE
$fashion-pink-color: #D002CD
$pinkish-white-color: #FFE8FF
$misty-rose-color: #F9D2E9
$tomato-pink-color: #F5BAD1
$black15-color: rgba(0, 0, 0, 0.15)
$white20-color: rgba(255, 255, 255, 0.20)
$greyish-color: #ADADAD
$hard-black-color: #1A1818
$soft-grey-color: #979797
$marker-red-color: #F9001E
$bright-orange-color: #FF5F00
$bright-orange-two-color: #FF6000
$bright-orange-two-color-10-percent: rgba(255, 96, 0, 0.1)
$sugar-cane-color: #F5F4F4
$sugar-cane-80-color: rgba(245, 244, 244, 0.8)
$light-alto-color: #E0E0E0
$girly-pink: #FFE8FF
$light-girly-pink: #FFEFFF
$deep-girly-pink: #FAD7E9
$ultra-girly-pink: #D518d2
$clay-gray: #8F8F8F
$clay-gray-40: rgba(143, 143, 143, 0.4)
$light-blue: #1775F1
$hawkes-blue: #CCDFFD
$boston-red: #CC0000
$linen-color: #FDFAF2
$cash-green-color: #499C21
$sprout: #C7DFBB
$champagne-color: #FBE2D4
$scarlet-color: #FF1F00
$dark-slate-gray-color: #464243
$boulder-color: #767676
$azalea-color: #F5CCCC
$light-steel-blue: #454C59
$silver-chalice: #AFAFAF
$pudding-matcha: #E2EDDB
$black0-color: rgba(255, 255, 255, 0)
$white20-color: rgba(255, 255, 255, 0.2)
$black15-color: rgba(0, 0, 0, 0.15)
$black1-color: rgba(0, 0, 0, 0.1)
$wild-sand: #F5F4F4
$blue-ribbon: #005EF4
$satin-linen: #E6E1DA
$mine-shaft-color: #3C3C3C
$gin-fizz: #FFF8E3
$japanese-laurel: #236C00
$mystic: #DFE4EA
$corn-silk-color: #FFF8E3
$athens-gray: #EDEDEE
$iron-color: #C9CED0

$san-francisco-text-family: "San Francisco Text", sans-serif
$minion-pro-family: "Minion Pro Regular", sans-serif

$sidebar-width: 320

$mobile-breakpoint: 768px
$tablet-breakpoint: 992px
$desktop-breakpoint: 1200px

$min-width-threshold: 768px
$max-width-threshold: 1440px

$print-side-margin: 25px

$shareable-header-height: 40px

$animation-duration: 0.5s
$medium-animation-duration: 0.3s
$quick-animation-duration: 0.2s
