@import 'variables'

$bottom-button-wrapper-width: 120px

\:local(.hoverable-edit-wrapper)
  position: relative

  &.hoverable:hover
    border: 1px solid $fashion-pink-color

    .bottom-button-wrapper
      display: block
      position: absolute
      z-index: 1
      right: calc(50% - #{$bottom-button-wrapper-width} / 2)
      bottom: -26px
      min-width: $bottom-button-wrapper-width
      text-align: center

    .top-button-wrapper
      position: absolute
      z-index: 1
      display: block
      top: 0
      right: 0

  .bottom-button-wrapper
    display: none

  .top-button-wrapper
    display: none

  .hoverable-edit-wrapper-button
    background-color: $misty-rose-color
    pointer-events: auto
    padding: 5px 7px
    border: 1px solid $fashion-pink-color
    border-top: none
    color: white
    font-family: $san-francisco-text-family
    font-size: 14px
    line-height: 14px
    cursor: pointer
    font-weight: 300
    display: inline-block
    margin-right: 1px

    &:hover
      background-color: $tomato-pink-color

    &.edit-button
      border-right: none
      margin-right: 0
