@import 'variables'

\:local(.radar-legend)
  fill: $clay-gray
  font-weight: bold

\:local(.radar-legend-transition-exit)
  opacity: 1

\:local(.radar-legend-transition-exit-active)
  opacity: 0
  transition: opacity $animation-duration ease-in-out
