@import 'variables'

$table-min-width: 992
$header-fixed-width: 84

@function flexible-column($min-width)
  @return calc((100% - #{$header-fixed-width}px) * (#{$min-width} / (#{$table-min-width} - #{$header-fixed-width})))

\:local(.table)
  width: calc(100% - 32px)
  min-width: 992px
  margin-left: 16px
  margin-right: 16px
  font-size: 14px
  color: $boulder-color
  margin-bottom: 19px

%headerCol
  font-weight: 300
  text-align: left
  display: inline-block
  height: 100%
  vertical-align: top

\:local(.headerRow)
  background-color: white
  text-transform: uppercase
  height: 69px
  box-sizing: border-box
  padding-top: 26px

  .header-thumbnail
    @extend %headerCol
    width: 84px

  .header-title
    @extend %headerCol
    min-width: 245px
    width: flexible-column(245)

  .header-source
    @extend %headerCol
    min-width: 260px
    width: flexible-column(260)

  .header-counts
    @extend %headerCol
    min-width: 196px
    width: flexible-column(196)

  .header-date
    @extend %headerCol
    min-width: 130px
    width: flexible-column(130)

  .header-toggle
    @extend %headerCol
    min-width: 77px
    width: flexible-column(77)
