@import 'variables'

\:local(.table)
  width: calc(100% - 36px)
  min-width: 989px
  margin-left: 18px
  margin-right: 18px
  font-size: 14px
  color: $clay-gray

%headerCol
  font-weight: 300
  text-align: left
  display: inline-block
  height: 100%
  vertical-align: top

%thumbnailCol
  width: 84px

%largeCol
  min-width: 252px
  width: calc((100% - 162px) * 0.3)

%countsCol
  min-width: 185px
  width: calc((100% - 162px) * 0.2)

%dateCol
  min-width: 139px
  width: calc((100% - 162px) * 0.2)

%toggleCol
  width: 77px

\:local(.headerRow)
  background-color: white
  text-transform: uppercase
  height: 69px
  box-sizing: border-box
  padding-top: 26px

  .header-thumbnail
    @extend %headerCol
    @extend %thumbnailCol

  .header-title
    @extend %headerCol
    @extend %largeCol

  .header-source
    @extend %headerCol
    @extend %largeCol

  .header-counts
    @extend %headerCol
    @extend %countsCol

  .header-date
    @extend %headerCol
    @extend %dateCol

  .header-toggle
    @extend %headerCol
    @extend %toggleCol


%cell
  overflow: hidden
  display: inline-block
  vertical-align: top
  box-sizing: border-box

\:local(.row)
  background-color: $sugar-cane-color
  height: 80px
  width: 100%
  text-align: left
  margin-bottom: 2px
  cursor: pointer

  .document-thumbnail
    @extend %cell
    @extend %thumbnailCol
    margin-top: 14px
    margin-left: 13px
    margin-right: 19px
    height: 52px
    width: 52px
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  .document-title
    @extend %cell
    @extend %largeCol
    color: $soft-black-color
    height: 100%
    display: inline-flex
    flex-direction: column
    justify-content: center
    padding-right: 50px

  .document-source
    @extend %cell
    @extend %largeCol
    margin-top: 31px
    padding-right: 50px

  .document-counts
    @extend %cell
    @extend %countsCol
    margin-top: 31px
    padding-right: 50px

  .document-date
    @extend %cell
    @extend %dateCol
    margin-top: 31px
    padding-right: 50px

  .document-toggle
    @extend %cell
    @extend %toggleCol
    margin-top: 31px
