@import 'variables'

\:local(.wrapper)
    border-bottom: 1.25px solid $white-two-color

\:local(.innerWrapper)
    height: 63px
    padding: 18px
    box-sizing: border-box

\:local(.search-box)
    display: inline-block
    width: 274px
    height: 28px
    border-radius: 2px
    border: 1px solid $white-two-color
    box-sizing: border-box

