@import 'variables'

\:local(.document-card)
  display: block
  width: 232px
  border-radius: 2px
  border: solid 1px $alto-color
  box-sizing: border-box

  &:hover
    border: solid 1px $blue-ribbon-color

  .document-card-thumbnail
    height: 196px
    border-radius: 2px
    background-color: $wild-sand-color
    box-shadow: inset 0 0 2px 0 $black-15-color

    .document-card-thumbnail-img
      width: 133px
      height: 176px
      margin-left: 49px
      margin-top: 8px
      box-shadow: 0 1px 2px 0 $black-15-color

  .document-card-description
    width: 200px
    height: 70px
    font-size: 14px
    font-weight: 300
    text-align: left
    padding: 14px 12px 0 12px
    color: $boulder-color
    box-sizing: border-box

    &:hover
      color: $blue-ribbon-color

    .document-card-description-incident-date
      font-size: 12px
      line-height: 14px
      color: $boulder-color

    .document-card-description-category
      font-size: 14px
      line-height: 16px
      color: $thunder-color

