@import 'variables'

\:local(.pinned-type)
  width: 100%
  margin-top: 39px

  .type-title
    font-size: 14px
    color: $thunder-color

  .pinned-type-loading
    margin: 0 auto
    display: block
    width: 176px
    height: 176px
