@import 'variables'

\:local(.metrics-section)
  background-color: $sugar-cane-color
  height: 280px

  .metric-cells
    background-color: white
    margin: 16px
    border: 1px solid $alto-color
    position: absolute
    width: calc(100% - 32px)

  .vertical-line
    margin: 16px 0
    height: 216px
    width: 2px
    background-color: $greyish-color
    display: inline-block
    vertical-align: top
