@import 'variables'

\:local(.metrics-section)
  background-color: $wild-sand-color
  height: 280px
  padding: 16px
  box-sizing: border-box

  @media print
    background-color: unset
    padding: 0
    height: 212px

  .metric-cells
    background-color: white
    border: 1px solid $alto-dark-color

  .vertical-line
    margin: 16px 0
    height: 216px
    width: 2px
    box-sizing: border-box
    border: 1px solid $silver-chalice-color
    display: inline-block
    vertical-align: top

    @media print
      background-color: $alto-color
      height: 180px
