@import 'variables'

\:local(.item-pin-button)
  .pin-button
    border-radius: 2px
    border: solid 1px $alto-color
    width: 26px
    height: 26px
    background-position: center
    background-repeat: no-repeat
    background-image: url('/img/ic-plus-bold.svg')
    background-size: 12px 12px
    background-color: $hint-of-red-color
    box-sizing: border-box

    &:hover
      background-color: $willow-brook-color
      background-image: url('/img/ic-plus-green.svg')
      border: none

  .pin-action-hint
    display: none
    position: absolute
    pointer-events: none
    right: 16px
    top: 9px

  &.is-pinned
    .pin-button
      background-image: url('/img/ic-minus.svg')
      background-color: $hint-of-red-color

      &:hover
        background-image: url('/img/ic-minus-dark-grey.svg')
        border: solid 1px $alto-color

        ~.pin-action-hint
          display: unset
          content: unset
          color: $boulder-color
          font-size: 12px
          font-weight: 400
          line-height: 1.17
          width: auto

    .pin-action-hint
      display: unset
      content: url('/img/ic-pin.svg')
      height: 16px
      width: 12px

  &.show-introduction
    .pin-button
      border: 2px solid $thunder-50-color

  .pin-button-introduction
    position: absolute
    top: -10px
    left: 34px
    width: 150px
    color: $bilbao-color
    font-size: 14px
    font-weight: 400
    line-height: 17px
    background-color: $willow-brook-color
    border-radius: 6px
    box-shadow: 0 4px 24px $black-19-color
    padding: 8px 10px 9px 11px
    white-space: normal
    display: none

    &.display-introduction
      display: block

\:local(.card-pinned-button)
  position: absolute
  top: 8px
  right: 8px
  cursor: pointer
  z-index: 1

\:local(.header-pin-button)
  .pin-button
    width: 48px
    height: 32px
    background-position: center
    background-repeat: no-repeat
    background-image: url('/img/ic-large-plus.svg')
    background-size: 13px 14px
    background-color: $wild-sand-color
    cursor: pointer

    &:hover
      background-image: url('/img/ic-large-plus-green.svg')

  &.is-pinned
    .pin-button
      background-size: 16px 3px
      background-image: url('/img/ic-large-minus.svg')
      background-color: white
