@import 'variables'

\:local(.officer-card)
  display: inline-block
  margin: 0
  box-sizing: border-box
  text-decoration: none
  vertical-align: top
  border: solid 1px $white-two-color
  border-radius: 2px
  width: 232px

  .officer-card-section
    margin: 0 16px
    padding: 11px 0
    border-bottom: solid 1px $white-two-color
    height: 54px
    box-sizing: border-box

    &:last-child
      border-bottom: none

    .light-text
      font-size: 12px
      line-height: 1.17
      font-weight: 300
      color: $boulder-color
      margin-top: 0
      margin-bottom: 0
      height: 14px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .bold-text
      line-height: 18px
      font-size: 14px
      font-weight: 300
      color: $soft-black-color
      margin-top: 0
      margin-bottom: 0

    .extra-info
      font-size: 14px
      line-height: 18px
      margin: 0
      color: $boulder-color
      font-weight: 300

    .officer-card-sustained
      color: $boulder-color
      white-space: nowrap

  &:hover
    border: solid 1px $accent-color

    .officer-card-section
      .light-text, .extra-info
        color: $lighter-accent-color

      .bold-text
        color: $accent-color

      .officer-card-sustained
        color: inherit
