\:local(.log-file-modal)
  padding: 16px
  position: relative

  .modal-title
    font-size: 24px
    text-align: center
    padding-bottom: 32px

  .embed-content
    width: 100%
    height: 50vh

  .log-file-close-button
    display: inline-block
    width: 18px
    height: 18px
    background: url('/img/ic-grey-close.svg') no-repeat scroll center transparent
    cursor: pointer
    position: absolute
    top: 10px
    right: 4px
    padding: 10px
