@import 'variables'

$investigator-timeline-width: 320px
$print-investigator-timeline-width: 200px

\:local(.cr-page)
  background-color: $sugar-cane-color

  @media print
    background-color: white

  .top-content
    box-sizing: border-box
    padding: 0 16px

    @media print
      padding: 0

  .complaint-info
    background-color: white
    margin-bottom: 16px
    overflow: hidden
    border: 1px solid $white-two-color

    @media print
      border: none
      margin: 0

  .timeline-location-container
    @media print
      page-break-inside: avoid
      display: -webkit-inline-flex
      display: inline-flex
      width: 100%

    .investigation-timeline
      width: $investigator-timeline-width
      display: block
      padding: 0 16px
      box-sizing: border-box
      vertical-align: top
      float: left

      @media print
        padding: 0 16px 0 0
        width: $print-investigator-timeline-width

    .cr-location
      width: calc(100% - #{$investigator-timeline-width})
      display: block
      box-sizing: border-box
      float: left

      @media print
        width: calc(100% - #{$print-investigator-timeline-width})
        page-break-inside: avoid

  .cr-title
    font-family: $san-francisco-text-family
    font-size: 26px
    font-weight: 400
    color: $soft-black-color
    padding: 16px 0
    border-bottom: solid 1px $white-two-color

    @media print
      border-bottom: none
      padding: 0
      font-size: 12px
      font-weight: 500


  .cr-summary
    color: $clay-gray
    font-size: 14px
    font-family: $san-francisco-text-family
    font-weight: 300

    @media print
      font-size: 12px
      padding: 11px 0
      width: 70%

\:local(.cr-page-footer)
  background-color: $soft-black-color

  .footer-nav-link
    color: $clay-gray

    &:hover
      color: white
