@import 'variables'

\:local(.salary)
  font-size: 14px
  font-weight: 300

  @media print
    font-size: 10px
    font-weight: 500

  .base-salary
    display: inline
    color: $boulder-color

  .salary-amount
    color: $vida-loca-color
    display: inline

\:local(.popup)
  padding: 10px
  margin: 0 -9px 0 -2px
