@import 'variables'

\:local(.summary-section)
  font-size: 14px
  font-family: $san-francisco-text-family
  font-weight: 400
  vertical-align: top
  width: 50%
  display: inline-block

  .summary-section-officer-name
    height: 32px
    font-size: 26px
    font-weight: 500
    margin: 48px 0 16px 16px
