@import 'variables'

\:local(.header)
  font-size: 26px
  font-weight: 400
  text-align: left
  color: $thunder-color
  padding: 0 16px
  margin-top: 0
  margin-bottom: 16px

\:local(.header-text)
  padding: 16px
  font-size: 14px
  text-align: left
  font-weight: 300
  color: $boulder-color
