@import 'variables'

\:local(.landing-page)

  .landing-page-carousel-wrapper
    background-color: $sugar-cane-color
    padding: 16px 0 0 16px

    .landing-page-carousel
      background-color: white
      border: solid 1px $white-two-color
      margin-bottom: 16px
      padding: 48px 0 32px 0

      &:last-child
        margin-bottom: 0
