@import 'variables'

\:local(.plus-button)
  position: absolute
  top: 0
  right: 0
  cursor: pointer
  width: 30px
  height: 30px

  &:after
    content: ''
    position: absolute
    top: 5px
    right: 5px
    border-radius: 2px
    border: solid 1px $alto-color
    width: 20px
    height: 20px
    background-position: center
    background-repeat: no-repeat
    background-image: url('/img/ic-plus-bold.svg')
    background-size: 12px 12px
    background-color: $hint-of-red-color
    box-sizing: border-box

  &:hover
    &:after
      background-color: $willow-brook-color
      background-image: url('/img/ic-plus-green.svg')
      border: none
