@import 'variables'

\:local(.relevant-infinite-carousel)
  background-color: $soft-black-color
  padding-left: 16px
  min-height: 248px
  font-weight: 300

  .relevant-infinite-carousel-title
    padding: 39px 0 17px 0
    color: white
    font-size: 14px
    line-height: 16px

  .relevant-carousel-arrow
    background-image: url('/img/disclosure-indicator-boulder.svg')
    background-color: $soft-black-90-color

    &:hover
      background-image: url('/img/disclosure-indicator-blue.svg')
