@import 'variables'

\:local(.relevant-infinite-carousel)
  background-color: $thunder-color
  padding-left: 16px
  min-height: 248px
  font-weight: 300

  .relevant-infinite-carousel-title
    padding: 31px 0 17px 0
    color: white
    font-size: 14px
    line-height: 16px

  .relevant-carousel-arrow
    background-image: url('/img/disclosure-indicator-boulder.svg')
    background-color: $thunder-90-color

    &:hover
      background-image: url('/img/disclosure-indicator-blue.svg')

  .relevant-carousel-loading
    margin: 0 auto
    display: block
    width: 176px
    height: 176px
